# General
.DS_Store
Thumbs.db
instructions.md
/versions
changes.md

# VS Code Host Extension
/host/node_modules/
/host/.vscode/
/host/*.vsix
/host/instructions.md
/host/versions/
/host/changes.md

# Chrome Companion Extension
/companion/instructions.md
/companion/versions/
/companion/changes.md

# Log files
*.log
npm-debug.log*